
/* General styles */

html {
    scroll-behavior: smooth;
}

/* Header Styles */

.page__header {
    background: rgba(0,13,60,1);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

a.logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 1em .5em 0;
}

/* Navigation Styles*/

nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: #1D2226;
    width: 66%;
    visibility: hidden;
    transform: translateX(50%);
    opacity: 0;
    transition: all .3s;
}

.exit {
    width: 2em;
    float: right;
    margin: .5em;
    cursor: pointer;
}

#navbar__list {
    list-style-type: none;
    padding: 0;
    margin-top: 4em;
}

li a  {
    color: #7B8994;
    text-decoration: none;
    display: block;
    padding: .5em 1em;
}

.open {
    cursor: pointer;
    margin: .5em;
}

.active a {
    color: #008AF8;
    font-weight: bold;
}


li a:hover {
    background: #2E363D;
    transition: ease 0.3s all;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}

/* Main Hero section*/

.main-container {
    padding: 1em;
    text-align: center;
}

.title-container {
    font-size: 3rem;
    position: relative;
    margin-top: 3em;
}

.title-container:before {
    content: '';
    position: absolute;
    width: 30%;
    height: 7px;
    top: -20px;
    left: 33%;
    background-color: #7A4900;
}

.p-container {
    font-size: .9rem;
    line-height: 1.4em;
    width: 90%;
    margin: 0 1em 2em;
}

.cta {
    display: block;
    padding: .7em;
    margin-bottom: 1em;
    background-color: #7A4900;
    color: white;
    white-space: nowrap;
}
.outline {
    background: none;
    border: 2px solid #47946E;
    color: black;
}

/* Footer Styles */

.page__footer {
    display: grid;
    grid-template-areas:
    ". social ."
    ". main .";
    text-align: center;
    padding: 2.5em 0;
}

.footer-main,
.social-list {
    grid-column: 2 / -2;
}

.footer-main {
    grid-area: main;
}

.page__footer  a { 
    color: inherit;
    text-decoration: none;
}

.footer__link {
    font-weight: bold;
}

.footer__link:hover,
.social-list__link:hover {
    opacity: .7;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer-fineprint {
    font-size: .85rem;
    margin-top: 5em;
    opacity: .3;
}

.social-list {
    grid-area: social;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0 0 2em;
    padding: 0;
}

.social-list__item {
    margin: 0 .5em;
}

.social-list__link {
    padding: .5em;
}


@media (min-width: 600px) {
    .open, .exit {
        display: none;
    }
    
    nav{
        visibility: unset;
        background: none;
        position: unset;
        height: auto;
        opacity: 1;
        transform: translateX(0);
    }
    
    #navbar__list {
        display: flex;
        margin-top: auto;
        width: auto;
        float: right;
        margin: 0;
    }
    
    li a {
        color: #ADDBFF;
        display: block;
        padding: 1em;
    }
      
    .active a {
        color: white;
    }

    .title-container {
        font-size: 4em;
    }

    .p-container {
        font-size: 1em;
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }
    .cta {
        padding: .7em 1.2em;
    }

    .outline {
        margin-left: 1em;
    }

    .page__footer {
        grid-template-areas: 
          "main main .  social "
    }
    
    .footer-main {
        text-align: left;
    }
    
    .social-list {
        justify-content: flex-end;
    }

}

@media (min-width: 800px) {

    a.logo {
        margin-left: 4em;
        font-weight: bold;
    }

    .main-container {
        text-align: left;
        width: 90%;
        margin-left: 2em;
    }

    .p-container {
        width: 100%;
    }
    .btn-container {
        justify-content: left;
    }

    .title-container {
        margin-right: 0;
        margin-left: auto;
    }

    .p-container {
        font-size: 1em;
        position: relative;
        right: 1em;      
    }

    .title-container:before {
        width: 10%;
        left: 0;
    }

    .main-hero  {
        display: flex;
    }

}

